name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ghcr.io/${{ github.repository }}:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # Create docker-compose.yml
          cat <<EOF > docker-compose.yml
          version: '3.8'
          services:
            api:
              image: ghcr.io/${{ github.repository }}:latest
              ports:
                - "3000:3000"
              environment:
                - PORT=3000
                - REDIS_HOST=redis
                - REDIS_PORT=6379
                - MONGO_URI=${{ secrets.MONGO_URI }}
                - AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
                - AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
                - TWILIO_ACCOUNT_SID=${{ secrets.TWILIO_ACCOUNT_SID }}
                - TWILIO_AUTH_TOKEN=${{ secrets.TWILIO_AUTH_TOKEN }}
                - TWILIO_PHONE_NUMBER=${{ secrets.TWILIO_PHONE_NUMBER }}
                - TWILIO_PHONE_NUMBER=${{ secrets.TWILIO_PHONE_NUMBER }}
                - S3_BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }}
                - JWT_SECRET=${{ secrets.JWT_SECRET }}
                - AUTH_SECRET_TOKEN=${{ secrets.AUTH_SECRET_TOKEN }}
                - REDIS_USERNAME=${{ secrets.REDIS_USERNAME }}
                - REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}
                - REDIS_HOST=${{ secrets.REDIS_HOST }}
                - REDIS_PORT=${{ secrets.REDIS_PORT }}
                - MSG91_AUTH_KEY=${{ secrets.MSG91_AUTH_KEY }}
                - MSG91_TEMPLATE_ID=${{ secrets.MSG91_TEMPLATE_ID }}
              restart: always
          EOF

          # Stop running containers
          sudo docker compose down || true
          
          # Pull latest image
          echo "${{ secrets.GITHUB_TOKEN }}" | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin
          sudo docker pull ghcr.io/${{ github.repository }}:latest
          
          # Start services
          sudo docker compose up -d
